<h1><span>A n t h r o p o M o r p h e u s</span></h1>

<ul id="navigationbar">
    <li><a href="/products/aboutus">About Us</a></li>
    <li><a href="/products/show">Coming Soon</a></li>
    <li><a href="/users/register">Register</a></li> 
    <li><a href="/users/signin">Login</a></li>

</ul>
<h2><span>Your path to your future Neo-Life begins here</span></h2>
