<h1><span>AnthropoMorpheus</span></h1>
<h2><span>Your path to your future Neo-Life begins here</span></h2>
<ul id="navigationbar">
    <li><a href="/products/show">About Us</a></li>
    <br>
    <br>
    <br>
    <li><a href="/products/show">Coming Soon</a></li>
    <br>
    <br>
    <br>
    <li><a href="/products/show">Register/Login</a></li>
</ul>
