<h1><span>AnthropoMorpheus</span></h1>
<h2><span>Your path to your future Neo-Life begins here</span></h2>
<ul id="navigationbar">
    <li><a href="/products/aboutus">About Us</a></li>
    <br>
    <br>
    <br>
    <li><a href="/products/show">Coming Soon</a></li>
    <br>
    <br>
    <br>
    <li><a href="/users/signin">Login</a></li>
    <br>
    <br>
    <li><a href="/users/register">Register</a></li>
    <br>
    <br>
    <li><a href="/products/wishlist">Wishlist</a></li>
</ul>
