<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<link rel="stylesheet" href="/css/style.css">
		<title>AnthropoMorpheus About Us</title>
		
	</head>
	<body>
		<%- include ('./partials/header.ejs') %>


	<div id="aboutus">
        <p>Neo Rin is a global company specializing in cybernetics. Neo Rin is vastly growing their markets not only worldwide, but galaxy wide. Follow us on twitter @<u>weshouldprobablychillout</u> to learn more about our ongoing cyborg crossfit competitions currently being deployed on Mars and Venus.</p>
    </div>
	
	<%- include ('./partials/footer.ejs') %>
	
	</body>

</html>




