<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<link rel="stylesheet" href="/css/style.css">
		<title>AnthropoMorpheus Home Page</title>
		
	</head>
	<body>
		<%- include ('./partials/header.ejs') %>

<div class="homepage">
		<video id="homepage" width="60%" height="40%" autoplay loop muted>
            <source src="/assets/Aboutus.mp4" type="video/mp4" />
        </video>
	</div>
	<%- include ('./partials/footer.ejs') %>

</html>




