<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<link rel="stylesheet" href="/css/style.css">
		<title>AnthropoMorpheus Home Page</title>
		
	</head>
	<body>
		<%- include ('./partials/header.ejs') %>
	<br>
	<br>
	<br>
		<!-- <div id="homepage">
			<form method="post" action="/upload" enctype="multipart/form-data">
				<input type="file" name="image">
				<input type="submit">
			</form>
			<video width="400" height="200" autoplay loop>
				<source src="public/assets/Aboutus.mp4" type="video/mp4">
				Your browser does not support the video tag.
				</video>
					</div> -->
	<!-- <video id="videoPlayer" conrtols>
	<source src="http://localhost:3000/products" type="video/mp4">
	</video> -->
	</body>

</html>




