<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/css/style.css">
        <title>Product Show Page</title>
    </head>
    <body>
        <h1><%=product.name; %></h1>

        <nav>
            <a href="/products">Back to Home Page</a>
        </nav>
    </body>
</html>