
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Rubik+Iso&display=swap");

body {
    font-family: 'Bebas Neue', cursive;
    background-color: rgb(63, 65, 66);
}

h1 {
    font-size: 60px;
    text-align: center;
    color: rgb(151, 151, 151);
}
#header {
    font-size: 70px;
}

.access, .baduser, .invalid{
    text-align: center;
    font-size: 100px;
    color:crimson;
}


h2 {
    text-align: center;
    font-size: 30px;
    color: rgb(119, 119, 121);
}

h3 {
    font-size: 40px;
    text-align: center;
    color: rgb(237, 230, 228);
}

h5 {
    text-align: center;
    font-size: 40px;
    color: rgb(187, 124, 124);
}
#login, #register {
    font-size: 30px;
    color: rgb(187, 124, 124);
    background-color: rgb(45, 47, 47);
    margin: 50px;
    padding: 30px;
    left      : 46%;
    top       : 66%;
    position  : absolute;
    transform : translate(-50%, -50%);
    border-radius: 10px;
    box-shadow: 1px 1px 10px #ddd,
              -1px -1px 10px #ddd,
              1px -1px 10px #ddd,
              -1px 1px 10px #ddd;
}

#login form, #register form {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    text-align: center;
}


#navigationbar {
    display: flex;
    align-items: center;
    justify-content: center
}

#navigationbar li {
    display: inline-block;
    list-style-type: none;
    padding: 10px 40px;
    font-size: 25px;
    font-family: 'Rubik Iso', cursive;
}

#navigationbar a {
    text-align: center;
    text-decoration: none;
    color: rgb(242, 230, 230);
}

#aboutus video {
    display: flex;
    flex-direction: column;
    align-items: center;
    }

#footer {
    color: rgb(158, 151, 151);
    font-size: 20px;
    text-align: center;
}

#new {
    text-align: center;
    font-size: 30px;
    color: rgb(187, 124, 124);
    background-color: rgb(45, 47, 47);
    margin: 50px;
    padding: 40px;
    left      : 46%;
    top       : 66%;
    position  : absolute;
    transform : translate(-50%, -50%);
    border-radius: 10px;
    box-shadow: 1px 1px 10px #ddd,
              -1px -1px 10px #ddd,
              1px -1px 10px #ddd,
              -1px 1px 10px #ddd;
}

#new input {
    background-color: rgb(80, 69, 73);
    text-decoration: none;
    color: rgb(255, 250, 250);
    font-size: 20px;
    font-family: 'Bebas Neue', cursive;
    font-size: 30px;
}

#edit {
    text-align: center;
    font-size: 30px;
    color: rgb(187, 124, 124);
    background-color: rgb(45, 47, 47);
    margin: 50px;
    padding: 40px;
    left      : 46%;
    top       : 66%;
    position  : absolute;
    transform : translate(-50%, -50%);
    border-radius: 10px;
    box-shadow: 1px 1px 10px #ddd,
              -1px -1px 10px #ddd,
              1px -1px 10px #ddd,
              -1px 1px 10px #ddd;
}

#edit input {
    background-color: rgb(80, 69, 73);
    text-decoration: none;
    color: rgb(255, 250, 250);
    font-size: 20px;
    font-family: 'Bebas Neue', cursive;
    font-size: 30px;
}

#newproduct {
    text-align: center;
}
.editdelete {
    text-align: center;
    color: dimgray;
}

.editdelete a {
    text-decoration: none;
    color: rgb(1, 5, 5);
    font-size: 20px;
}

.editdelete input {
    font-family: 'Bebas Neue', cursive;
    font-size: 20px;
    text-decoration: none;
    background-color: rgb(80, 72, 72);
    color: black;
}
.wishlist {
    text-align: center;
    color: dimgray;
}

.wishlist a {
    text-decoration: none;
    color: rgb(1, 5, 5);
    font-size: 20px;
}

.wishlist input {
    font-family: 'Bebas Neue', cursive;
    font-size: 20px;
    text-decoration: none;
    background-color: rgb(80, 72, 72);
    color: black;
}

#footer a{
    text-decoration: none;
    color: rgb(158, 151, 151);
    font-size: 20px;
}

#navigationbar a:hover {
    text-decoration: none;
    color: azure;
}

.products {
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.products ul {
    columns: 2;
}


.products li {
    display: inline-block;
    vertical-align: top;
    list-style: none;
    font-size: 20px;
    
}

.products a{
    text-decoration: none;
    color: rgb(208, 199, 199);
}


#productshow {
    color: aliceblue;
    text-align: center;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center
    }

.video {
  flex-basis: 150%
}

.text h2 {
  font-size: 50px;
  padding-right: 50px;
}
.text p {
  font-size: 30px;
  padding-right: 50px;
}


#productshow img {
    width: 300px;
    height: 400px;
    border-radius: 10px;
    box-shadow: 1px 1px 10px #ddd,
              -1px -1px 10px #ddd,
              1px -1px 10px #ddd,
              -1px 1px 10px #ddd;
}

#newproduct a {
    text-decoration: none;
    color: rgb(1, 5, 5);
    font-size: 20px;
}

#homepage {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px;
    padding: 30px;
    font-size: 25px;
    color: white;
    border-radius: 10px;
    box-shadow: 1px 1px 10px #ddd,
              -1px -1px 10px #ddd,
              1px -1px 10px #ddd,
              -1px 1px 10px #ddd;
}

#aboutus {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px;
    padding: 40px;
    font-size: 20px;
    color: white;
    border-radius: 10px;
    box-shadow: 1px 1px 10px #ddd,
              -1px -1px 10px #ddd,
              1px -1px 10px #ddd,
              -1px 1px 10px #ddd;
}
#aboutus p{
    font-size: 40px;
}

#categories {
    color: aliceblue;
    background-color: rgb(135, 136, 138);
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 1px 1px 10px #ddd,
              -1px -1px 10px #ddd,
              1px -1px 10px #ddd,
              -1px 1px 10px #ddd;
}

.homepage {
    border-radius: 0px;
    display: flex;
    align-items: center;
    justify-content: center
}
.wishlist {
    border-radius: 0px;
    display: flex;
    align-items: center;
    justify-content: center
}


