
@import url("https://fonts.googleapis.com/css2?family=Rubik+Iso&display=swap");

body {
    background-color: rgb(46, 60, 60);
}

h1 {
    font-family: 'Rubik Iso', cursive;
    font-size: 70px;
    text-align: center;
    color: rgb(180, 179, 169);
    border-radius: 10px;
    box-shadow: 1px 1px 10px #ddd,
              -1px -1px 10px #ddd,
              1px -1px 10px #ddd,
              -1px 1px 10px #ddd;
}

h2 {
    font-family: 'Rubik Iso', cursive;
    text-align: center;
    font-size: 30px;
    color: rgb(237, 230, 228);
}

h3 {
    text-align: center;
    color: rgb(237, 230, 228);
}

#navigationbar {
    display: flex;
    border-radius: 10px;
    box-shadow: 1px 1px 10px #ddd,
              -1px -1px 10px #ddd,
              1px -1px 10px #ddd,
              -1px 1px 10px #ddd;
}

#navigationbar li {
    list-style: none;
    padding: 10px 40px;
    font-size: 25px;
}

#navigationbar a {
    text-decoration: none;
    color: rgb(242, 230, 230);
}

#footer {
    text-align: center;
}

#new {
    text-align: center;
}

#footer a{
    text-decoration: none;
    color: rgb(158, 151, 151);
    font-size: 20px;
}

#navigationbar a:hover {
    text-decoration: none;
    color: azure;
}

.products ul {
    display: block;
}

#products ul {
    columns: 3;
}

#products li {
    display: inline-block;
    vertical-align: top;
    list-style: none;
    font-size: 20px;
    
}

#products a{
    text-decoration: none;
    color: rgb(208, 199, 199);
}

#products img {
    width: 200px;
    height: 250px;
    color: white;
    margin: 50px;
    padding: 10px;
    max-width: fit-content;
    display: flex;
    border-radius: 10px;
    box-shadow: 1px 1px 10px #ddd,
              -1px -1px 10px #ddd,
              1px -1px 10px #ddd,
              -1px 1px 10px #ddd;
}


#productshow {
    color: aliceblue;
    text-align: center;
    font-size: 20px;
}



#productshow img {
    width: 300px;
    height: 400px;
    border-radius: 10px;
    box-shadow: 1px 1px 10px #ddd,
              -1px -1px 10px #ddd,
              1px -1px 10px #ddd,
              -1px 1px 10px #ddd;
}

#new a {
    text-decoration: none;
    color: rgb(65, 205, 212);
    font-size: 20px;
}

#aboutus {
    margin: 20px;
    padding: 40px;
    font-size: 25px;
    color: white;
    border-radius: 10px;
    box-shadow: 1px 1px 10px #ddd,
              -1px -1px 10px #ddd,
              1px -1px 10px #ddd,
              -1px 1px 10px #ddd;
}

#homepage {
    margin: 20px;
    padding: 40px;
    font-size: 25px;
    border-radius: 10px;
    box-shadow: 1px 1px 10px #ddd,
              -1px -1px 10px #ddd,
              1px -1px 10px #ddd,
              -1px 1px 10px #ddd;
    color: white;
}

#login {
    color: white;
    margin: 50px;
    padding: 20px;
    max-width: fit-content;
    display: flex;
    border-radius: 10px;
    box-shadow: 1px 1px 10px #ddd,
              -1px -1px 10px #ddd,
              1px -1px 10px #ddd,
              -1px 1px 10px #ddd;
}

#register {
    color: white;
    margin: 50px;
    padding: 20px;
    max-width: fit-content;
    display: flex;
    border-radius: 10px;
    box-shadow: 1px 1px 10px #ddd,
              -1px -1px 10px #ddd,
              1px -1px 10px #ddd,
              -1px 1px 10px #ddd;
}

#register form {
    justify-content: center;
    text-align: center;
}

#login form {
    text-align: center;
}
