
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/style.css">
    <title>User Sign in</title>
  </head>

  <body>

    <%- include ('../partials/header.ejs') %>
    <h2>Log in</h2>

    <div id="login">
    <form action="/users/signin" method="POST">
      <fieldset>
        <label for="username">Username:</label>
        <input type="text" name="username">
      </fieldset>
      <br>

      <fieldset>
        <label for="password">Password:</label>
        <input type="password" name="password">
      </fieldset>
 
      <input type="submit" value="Sign In">
    </form>
    </div>
    <br>
    <%- include ('../partials/footer.ejs') %>

  </body>

</html>